# OS
.DS_Store
Thumbs.db

# Python
python-service/.venv/
python-service/__pycache__/
python-service/**/*.pyc
python-service/.cache/

# Next.js
web/node_modules/
web/.next/
web/.env

# Node.js
node-service/result.csv
node-service/.env
node-service/node_modules/